/* LESS Document */
body {
  background-color: #fff;
}
/* modules */
.language_switch_wrapp {
  float: right;
  margin: 10px 10px 0 0;
}
.language_switch_wrapp #languages-block-top {
  float: none;
  border: none;
  position: static;
}
.language_switch_wrapp #languages-block-top .countries ul {
  display: block;
  background: none;
  position: relative;
  overflow: auto;
  top: 0;
  left: 0;
  width: auto;
}
.language_switch_wrapp #languages-block-top .countries ul li {
  display: inline-block;
  margin: 2px;
  line-height: normal;
}
.language_switch_wrapp #languages-block-top .countries ul li a:hover {
  background-color: transparent;
}
.header_user_info_wrapp .header_user_info {
  float: none;
  border: none;
}
.header_user_info_wrapp .header_user_info a.login {
  color: #777777;
  display: inline-block;
}
.header_user_info_wrapp .header_user_info a.login:hover {
  background-color: transparent;
}
.block_contact_wrapp #contact-link {
  float: none;
  border: none;
}
.block_contact_wrapp #contact-link a {
  color: #777777;
  display: inline-block;
}
.block_contact_wrapp #contact-link a:hover {
  background-color: transparent;
}
.footer-container {
  background: none;
  background-color: #CCC;
}
