/* LESS Document */
body	{
	background-color:#fff;
} 



/* modules */
.language_switch_wrapp	{
	float:right;
	margin:10px 10px 0 0;
	
	#languages-block-top	{
		float:none;
		border:none;
		position:static;
		
		.countries 	{
			ul	{
				display:block;
				background:none;
				position:relative;
				overflow:auto;
				top:0;
				left:0;
				width:auto;
				
				li 	{
					display: inline-block;
					margin: 2px;
					line-height:normal;
					
					a 	{
						
						&:hover	{
							background-color:transparent;
						}
					}
				}
			}
		}
	}
}


.currency_switch_wrapp	{}

.header_user_info_wrapp	{
	.header_user_info	{
		float:none;
		border:none;
		
		a.login	{
			color:#777777;
			display:inline-block;
			
			&:hover	{
				background-color:transparent;
			}
		}
	}
}
.block_contact_wrapp	{
	#contact-link	{
		float:none;
		border:none;
		
		a 	{
			color:#777777;
			display:inline-block;
			
			&:hover 	{
				background-color:transparent;
			}
		}
	}
}

.footer-container	{
	background:none;
	background-color:#CCC;
	footer#footer 	{
	}
}